h1 {
  font-family: sans-serif;
  color: #ff9900;
}

.frame {
  margin: 20px;
}

.toDos {
  color: mediumblue;
  font-family: sans-serif;
  background-color: moccasin;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 0px;
  margin-top: 15px;
  border-radius: 13px;
}

.switchState {
  display: flex;
  color: white;
  align-items: center;
  button {
    margin-left: 20px;
    max-height: 40px;
  }
}
