<div class="frame">
  <h1>Meine ToDo's</h1>
  <div class="toDos" *ngFor="let todo of toDo">
    <!-- Sobald das @Output im Todo definiert ist, kannst du es hier angeben.
      Die Syntax ist ähnlich wie beim @Input, jedoch mit runden Klammern.
      Bspw. <app-todo (todoClicked)
      Mit dem darauffolgenden = Zeichen geben wir an, was passieren soll, wenn dies geklickt wurde.
      Also bspw. <app-todo (todoClicked)="handleTodoClicked()"
    -->
    <!-- Damit die Methode handleTodoClicked() weiss, welches Todo zu bearbeiten ist, muss es der Methode
      mitgegeben werden. Also bspw. <app-todo (todoClicked)="handleTodoClicked(todo)"
      Die Methode im todos.component.ts muss entsprechend mit diesem neuen Parameter erweitert werden.
    -->
    <app-todo [todo]="todo"></app-todo>
  </div>
</div>
