<div class="frame">
  <h1>Meine ToDo's</h1>
  <app-edit-create-todo></app-edit-create-todo>
  <!-- <app-edit-create-todo> soll nun auf den Output reagieren
        bspw. <app-edit-create-todo (todoChanged)="handleChangedTodo($event)">
        Erstelle am Besten eine entsprechende Methode im .ts File
        nenne sie bspw. "handleChangedTodo(todo: Todo)"
    -->
  <div class="switchState">
    <h2>zeige:</h2>
    <button (click)="switchState()">{{ buttonFilterText }}</button>
  </div>
  <div class="toDos" *ngFor="let todo of todos">
    <app-todo (toDoClicked)="handleTodoClicked(todo)" [todo]="todo"></app-todo>
  </div>
</div>
