<h1>Meine ToDo's</h1>
<!-- hier müssen wir durch die toDos aus dem .ts File iterieren
Dafür nutzt das ngFor -> siehe https://angular.io/guide/built-in-directives#ngFor
Zu Beginn reicht das, wenn du es mit einfachen <div> Elementen machst.

-- nutze danach im DIV Element eine CSS Klasse, um die ToDo's zu stylen. bspw. <div class="todo" >
-->

<!--
  Nachdem du nun eine Liste mit deinen Todos hast, müssen wir noch eine Aktion haben. damit man sie erledigen kann.
  Das heisst, du baust in dein div Element einen Button, der direkt rechts davon steht.
  Bspw. "<div> <button>" -> Achte darauf, dass auch der Button in der ngFor Schleife ausgeführt wird. Also pro toDo ein Button
-->

<!--
  Optional: wenn alles so gut geklappt hat, kannst du dem Button etwas Logik geben mit dem "onClick"-event und im TS File eine entsprechende
  Funktion bauen. Zu Beginn kannst du mal nur den namen des ToDo's ausprinten in der console.
-->
