/* You can add global styles to this file, and also import other style files */
body {
  background-color: #222;
}

button {
  background-color: mediumslateblue;
  border-radius: 10px;
  border: 4px;
  padding: 14px;
  color: navajowhite;
  cursor: pointer;
}
